<html>

<head>
    <title>Django Girls Blog</title>
</head>

<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>
            <h3><a href="">My first Post</a></h3>
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, ducimus! Exercitationem quas sit sapiente perferendis dolor totam culpa accusantium suscipit iure nesciunt labore illum in, dicta, placeat repellat voluptatem non? Architecto aliquam veritatis in dolore vero alias accusantium neque tempore excepturi enim pariatur, at similique facilis sed. Dicta odit nulla, sint laborum iste vero in quis asperiores incidunt, laudantium optio repudiandae placeat perferendis aspernatur, eveniet fugit soluta animi enim suscipit amet. Minus at cum autem? Architecto ut soluta nostrum cumque incidunt quaerat, illo dolorem sint distinctio, possimus non, molestias hic sed excepturi nisi nesciunt voluptas earum. Ab ipsa et facilis!
        </p>
        <p>
            published: 14.06.2014, 12:14
        </p>
    </div>
    
    <div>
        <p>
            <h3><a href="">My Second Post</a></h3>
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero praesentium labore, quis, suscipit consequuntur perspiciatis aut nostrum esse, explicabo ut distinctio ducimus velit facilis illum obcaecati corrupti tenetur similique animi iusto? Cumque provident explicabo dolores hic velit? Quae sit, exercitationem aut dolor laboriosam deserunt suscipit, velit ad delectus consequuntur doloribus architecto accusantium, quod autem corrupti recusandae. Rem molestiae recusandae, unde pariatur sint reiciendis odio dolores itaque optio animi fugit, ducimus fugiat iure exercitationem suscipit neque quos maxime corporis culpa cumque quia repellendus! Labore voluptatum omnis illo itaque sit? Hic rerum itaque mollitia consequatur natus incidunt assumenda sed atque temporibus. Eum?
        </p>
        <p>
            published: 15.07.2014, 14:49
        </p>
    </div>
</body>
</html>